<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Pizzaria</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rubik+Wet+Paint&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <link rel="icon" href="{{ url_for('static', filename='css/favicon.ico') }}" type="image/x-ico">
  </head>

  <body>

    <!-- Teste de Funcionamento da Página -->

    <div class="main_title">
        <h1>IGLESIAS PIZZA'S</h1>
    </div>


  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>