<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>La Vera Pizza - Cadastro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rubik+Wet+Paint&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-ico">
  </head>
  <body>
    <div class="main_title">
      <h1>CADASTRO</h1>
    </div>
    <form id="form_register_usuarios" action="/register_usuarios" method="POST">
      <div class="main_container">
        <div class="register_container">
          <input type="text" id="nome" name="nome" placeholder="Nome" required /><br /><br />
          <input type="text" id="endereco" name="endereco" placeholder="Endereço" required /><br /><br />
          <input type="tel" id="telefone" name="telefone" placeholder="Telefone" required /><br /><br />
        </div>
        <button class="send_button" type="submit">REGISTER</button>
      </div>
    </form>
    <script src="{{ url_for('static', filename='js/verificarTelefone.js') }}"></script>
  </body>
</html>